<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>

  <a th:href="@{/cinema}">Kino</a>

  <form th:if="${!(user == null)}" method="POST" th:action="@{/cinema/logout}">
    <button type="submit" name="submit" value="value">Wyloguj</button>
  </form>

  <h1>Cześć! Jesteś administratorem</h1>
  <h2 th:text="${user.name}"></h2>
  <h2 th:text="${user.surname}"></h2>
  <h2 th:text="${user.email}"></h2>

  <a th:href="@{/cinema/admin/movies}">Filmy</a>
  <a th:href="@{/cinema/admin/spectacles}">Spektakle</a>
  <a th:href="@{/cinema/admin/staff}">Pracownicy</a>

</body>
</html>
