<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Movies panel</title>
</head>
<body>

  <a th:href="@{/cinema}">Kino</a>

  <form th:if="${!(user == null)}" method="POST" th:action="@{/cinema/logout}">
    <button type="submit" name="submit" value="value">Wyloguj</button>
  </form>

  <h1>Cześć! Jesteś administratorem</h1>
  <h2 th:text="${user.name}"></h2>
  <h2 th:text="${user.surname}"></h2>
  <h2 th:text="${user.email}"></h2>

  <a th:href="@{/cinema/admin/movies}">Filmy</a>
  <a th:href="@{/cinema/admin/spectacles}">Spektakle</a>
  <a th:href="@{/cinema/admin/staff}">Pracownicy</a>

  <form th:action="@{/cinema/admin/movies}" method="post" th:object="${movie}">
    <h2>Dodaj film:</h2>

    <input type="text" th:field="*{title}" name="title" placeholder="tytuł" required>
    <p th:each="err : ${#fields.errors('title')}" th:text="${err}" class="error"></p>

    <input type="number" th:field="*{time}" step="1" name="time" placeholder="czas" required>
    <p th:each="err : ${#fields.errors('time')}" th:text="${err}" class="error"></p>

    <textarea type="text" th:field="*{description}" name="description" placeholder="Opis" required></textarea>
    <p th:each="err : ${#fields.errors('description')}" th:text="${err}" class="error"></p>

    <input type="submit" value="Dodaj"/>

  </form>

  <div th:each="movie : ${movies}">
    <h3><span th:text="${movie.title}"></span></h3>
    <h3><span th:text="${movie.time}"></span></h3>
    <h3><span th:text="${movie.description}"></span></h3>
  </div>

</body>
</html>
