<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spektakl</title>
</head>
<body>

  <form th:if="${!(user == null)}" method="POST" th:action="@{/cinema/logout}">
    <button type="submit" name="submit" value="value">Wyloguj</button>
  </form>

  <h1>Cześć!</h1>
  <a th:if="${user == null}" th:href="@{/cinema/sign-up}">Zarejestruj się</a>
  <a th:if="${user == null}" th:href="@{/cinema/sign-in}">Zaloguj się</a>
  <h2>Najlepsze filmy tylko u nas!</h2>

  <div th:if="${spectacle == null}">
    <td colspan="2"> No spectacle available </td>
  </div>
  <div th:if="${spectacle != null}">
    <h3><span th:text="${spectacle.date}"></span></h3>
    <h3><span th:text="${spectacle.price}"></span></h3>
    <h3><span th:text="${spectacle.title}"></span></h3>
    <h3><span th:text="${spectacle.time}"></span></h3>
    <h3><span th:text="${spectacle.description}"></span></h3>
    <h3><span th:text="${spectacle.hallSymbol}"></span></h3>
  </div>

  <form th:action="@{/cinema/reservation}" method="post" th:object="${reservationDetails}">
    <input type="number" th:field="*{id}" name="id" th:value="${reservationDetails.id}" hidden>
    <table>
      <tr th:each="row : ${spectacle.seats}">
        <td th:each="seat : ${row}">
          <label>
            <input th:if="${seat != null}" type="checkbox" name="seats" th:text="${seat}" th:value="${seat}" th:field="*{seats}"/>
          </label>
        </td>
      </tr>
    </table>
    <input type="submit" value="Rezerwacja" />
  </form>

</body>
</html>
