<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Staff panel</title>
</head>
<body>

  <a th:href="@{/cinema}">Kino</a>

  <form th:if="${!(user == null)}" method="POST" th:action="@{/cinema/logout}">
    <button type="submit" name="submit" value="value">Wyloguj</button>
  </form>

  <h1>Cześć! Jesteś administratorem</h1>
  <h2 th:text="${user.name}"></h2>
  <h2 th:text="${user.surname}"></h2>
  <h2 th:text="${user.email}"></h2>

  <a th:href="@{/cinema/admin/movies}">Filmy</a>
  <a th:href="@{/cinema/admin/spectacles}">Spektakle</a>
  <a th:href="@{/cinema/admin/representatives}">Pracownicy</a>

  <form th:action="@{/cinema/admin/staff}" method="post" th:object="${employee}">
    <h2>Dodaj pracownika:</h2>

    <input type="text" th:field="*{name}" name="name" placeholder="imię" required>
    <input type="text" th:field="*{surname}" name="surname" placeholder="nazwisko" required>
    <input type="text" th:field="*{email}" name="email" placeholder="e-mail" required>
    <fieldset>
      <legend>Rola:</legend>
      <input type="radio" id="admin" name="role" value="ROLE_ADMIN" checked>
      <label for="admin">administrator</label>
      <input type="radio" id="cashier" name="role" value="ROLE_CASHIER">
      <label for="cashier">kasjer</label>
    </fieldset>
    <input type="submit" value="Dodaj"/>

  </form>

  <div th:each="employee : ${staff}">
    <h3><span th:text="${employee.name}"></span></h3>
    <h3><span th:text="${employee.surname}"></span></h3>
    <h3><span th:text="${employee.email}"></span></h3>
    <h3><span th:text="${employee.role}"></span></h3>
  </div>

</body>
</html>
