<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Użytkownik</title>
</head>
<body>

  <a th:href="@{/cinema}">Kino</a>

  <form method="POST" th:action="@{/cinema/logout}">
    <button type="submit" name="submit" value="value">Wyloguj</button>
  </form>

  <h1>Cześć!</h1>
  <h2 th:text="${user.name}"></h2>
  <h2 th:text="${user.surname}"></h2>
  <h2 th:text="${user.email}"></h2>

  <div th:each="reservation : ${reservations}">
    <h3><span th:text="${reservation.date}"></span></h3>
    <h3><span th:text="${reservation.price}"></span></h3>
    <h3><span th:text="${reservation.title}"></span></h3>
    <h3><span th:text="${reservation.description}"></span></h3>
    <h3><span th:text="${reservation.hallSymbol}"></span></h3>
    <h3><span th:each="seat : ${reservation.seats}">
      <span th:text="${seat}"></span>
    </span></h3>
  </div>

</body>
</html>
